h1{
    text-align: center; /*Centraliza o texto*/
    color:#243645; /*Aplica a cor laranja*/
    font-size: 3rem; /*Altera o Tamanho*/
    margin-bottom: 30px; /*Espaço abaixo do título*/
}
h2{
    text-align: left;
    color: black;
    font-size: 1,5rem;
    margin-bottom: 20px;
}
elemento {
    background-color: #d2baa2 #b69f88;
  }
  /*Cores que devem ser utilizadas: #d2baa2, #b69f88, #243645, #000000 e #efece8*/
